sudo: required
services:
    - docker

before_install:
    - docker build -t mohitochani/react-test -f ./client/Dockerfile.dev ./client

script:
    - docker run -e CI=true mohitochani/react-test npm test 

after_success:
    - docker build -t mohitochani/multi-client ./client
    - docker build -t mohitochani/multi-nginx ./nginx
    - docker build -t mohitochani/multi-server ./server
    - docker build -t mohitochani/multi-worker ./worker
    #Log in to the Docker CLI
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin
    #Take those images and push them to docker hub
    - docker push mohitochani/multi-client
   
